.dashcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin: 0 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 3px 6px;
}
.trafficCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  margin-top: 5vh;
  background: #eee;

  & .trafficHeader {
    display: flex;
    justify-content: space-between;
    height: 20%;
    // background-color: red;
    & .left {
      display: flex;
    }
    & .right {
      display: flex;
      margin: 10px 10px 0 0;
    }
  }
  & .trafficContent {
    height: 50%;
    // background-color: aquamarine;
  }
}
